.react-calendar__navigation {
  .react-calendar__navigation__arrow {
      display: flex;
  }

  .react-calendar__navigation__label {
      font-size: 32px;
  }
}

.react-calendar__tile {
  height: 70px;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 16px;
  color: rgb(15, 70, 15);
}