@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
.div-bottom{
    background: #202125;
    padding-bottom: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.image-icon-copyright{
    margin-right: 4px;
}
.p-copyright{
    font-family: 'Source Code Pro', monospace;
    background: #202125;
    color: aliceblue;
    font-size: 12px;
}
