
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.div-isdonetext{
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 0.9rem   ;
    font-family: 'Source Code Pro', monospace;
}   


