
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
.div-isdonetext{
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 1.1rem   ;
    font-family : 'Nanum Gothic', sans-serif;
}   


