@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
.div-template {
    width: 80%;
    margin-left: auto;
    margin-right: auto; //width가 주어진 상황에서 좌우정렬.
    margin-top: 0px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    padding: 10px;
    font-family: 'Gaegu', cursive;
    
}

.div-template-title {
    background: #ffffff;
    color: #2f2f2f;
    height: 4rem;
    font-size: 29px;
    display: flex;
    align-items: center;//세로 중앙 정렬
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    
}

.div-template-content {
    background: rgb(239, 250, 255);
    background-image: url("../assets/grid_2.png");
    background-repeat: repeat;
}