.div-template {
    width: 80%;
    margin-left: auto;
    margin-right: auto; //width가 주어진 상황에서 좌우정렬.
    margin-top: 0px;
    border-radius: 4px;
    border: 2px solid #45cb64;
    padding: 10px
}

.div-template-title {
    background: #ffffff;
    color: #45cb64;
    height: 4rem;
    font-size: 19px;
    display: flex;
    align-items: center;//세로 중앙 정렬
    justify-content: center;
    
}

.div-template-content {
    background: white;
}