.div-full{
    background-color: #202125;
}
.div-logo-doit{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.image-logo-doit{
    width: 70px;
    height: 70px;

}
