.div-logout-full{
    
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    background: #202125;
}
.icon-logout-icon{
    padding-top: 10px;
 
    padding-left: 30px;
    color: #f6c9ef ;
    cursor: pointer;
}
.button-logout{
   
    border: none;
    background: #ffffff;
    font-size: 1rem;

}