@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
.div-info{
    
    font-family: 'Source Code Pro', monospace;
   
    position: relative;
 
    margin-bottom: 0px;

    
    
    
}
.img-signin-icon{
    position: absolute;
    left: 45%; top: 50%;
}
.div-signin-all{
    background-color: #202125;
    justify-content: center;
    place-content:center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    
    display: grid;
}
.div-signin-form{
    color: #c7dcf2;
    font-family: 'Source Code Pro', monospace;
    justify-content: center;
}

.div-login-title{
    font-family: 'Source Code Pro', monospace;
    background: #202125;
    color: #c7dcf2;

}
.div-signin-button,.p-myowntodo{
    
    display: flex;
    justify-content: space-evenly;
   
}

.p-myowntodo{
    color: #c7dcf2;
    margin-bottom: 50px;
    font-size: 17px;

}
.p-login{
    font-family: 'Source Code Pro', monospace;
    color: #c7dcf2;
    font-size: 18px;
}
.p-id{
    font-family: 'Source Code Pro', monospace;
    color: #c7dcf2;
    font-size: 10px;
    margin-bottom: 5px;
}

.p-password{
    font-family: 'Source Code Pro', monospace;
    color: #c7dcf2;
    font-size: 10px;
    margin-bottom: 5px;
}

.input-signin-id, .input-signin-password{
  
    
    font-family: 'Source Code Pro', monospace;
    font-size: 12.3px;
    width: 300px;
    height: 50px;
    margin-bottom: 35px;
}

.button-signin,.button-signup{
    font-family: 'Source Code Pro', monospace;
    width: 130px;
    height: 50px;
    background-color: #dc86f4;
    color: #ffffff;
    border: 1px solid #dc86f4;
    border-radius: 60%;
    font-size: 12px;
    margin-bottom: 30px;
    cursor: pointer;
    
}

