@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.div-all{
    background-color: #202125;

    place-content:center;
    flex-direction: column;
    margin: auto;
    display: grid;
}

.div-title{
    margin-top: 50px;
    margin-bottom: 50px;;
}
.div-passwordcheck, .div-checkid{
    font-size: 11px;
    margin-top: none;
    height: 35px;
}

.p-login{
    font-family: 'Source Code Pro', monospace;
    color: #c7dcf2;
    font-size: 18px;
}
.p-id{
    font-family: 'Source Code Pro', monospace;
    color: #c7dcf2;
    font-size: 12px;
    margin-bottom: 5px;
}

.p-password, .p-nickname, .p-address{
    font-family: 'Source Code Pro', monospace;
    color: #c7dcf2;
    font-size: 12px;
    margin-bottom: 5px;
}

.p-passwordcheck-null, .p-checkid-null{
    color: #8d8d8d;
}

.p-passwordcheck-false, .p-checkid-false{
    color: rgb(255, 162, 162);
}

.p-passwordcheck-true, .p-checkid-true{
    color: rgb(0, 255, 255)
}

.input-password, .input-nickname, .input-signup-address1 {
    width: 400px;
    height: 50px;
    margin-bottom: 35px;
    
}

.input-password-check, .input-id{
    width: 400px;
    height: 50px;
    margin-bottom: 5px;
    
}

.button-signup-address:hover::before{
    font-size:10px ;
    content: "click";
}

.button-register{
    width: 300px;
    height: 50px;
    background-color: #dc86f4;
    color: black;
    border: 1px solid #dc86f4;
    border-radius: 50%;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    

}
.button-register::before{
    content: "회원가입"
}
.button-register:hover{
    transition: 0.7s;
    background-color:#f9ff90;
    border: 1px solid #f9ff90;
    
}
.button-register:enabled:hover:before{
    font-family: 'Source Code Pro', monospace;
    
    color: blue;
    content:"💞 w e l c o m e 💞";
    font-size: 13px;
}
.button-register:disabled {
    color: rgb(133, 132, 132);
    background-color: rgb(214, 211, 211);
    border: none;
}






.div-button{
    place-content: center;
   
    display: flex;

}